.dashboard-container {
    padding: 2rem;
  }
  
  .summary-tiles {
    display: flex;
    justify-content: space-around;
    margin-bottom: 2rem;
  }
  
  .tile {
    background-color: #f0f0f0;
    padding: 1rem;
    border-radius: 8px;
    text-align: center;
    flex: 1;
    margin: 0 1rem;
  }
  
  .charts {
    display: flex;
    justify-content: space-around;
    margin-bottom: 2rem;
  }
  
  .chart {
    background-color: #f0f0f0;
    padding: 2rem;
    border-radius: 8px;
    flex: 1;
    margin: 0 1rem;
    text-align: center;
  }
  
  .users-chats-list {
    text-align: left;
  }
  
  .list {
    background-color: #f0f0f0;
    padding: 1rem;
    border-radius: 8px;
    margin-bottom: 1rem;
  }
  