body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('/C:/Users/Fredrick.kiprono/Desktop/ReactJS/medical-chatbot/src/chatbg.jpg');
  background-size: cover;
  background-position: center;
}

.title {
  font-size: 2rem;
  color: burgundy;
  margin-bottom: 2rem;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 0.5rem 1rem;
  border-radius: 8px;
  font-weight: bold;
}

.login-form {
  background-color: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px; /* Adjust as needed */
}

.login-form h2 {
  margin-bottom: 1.5rem;
  color: burgundy;
}

.input-group {
  margin-bottom: 1rem;
  width: 100%;
  text-align: left;
}

.input-group label {
  display: block;
  margin-bottom: 0.5rem;
  color: burgundy;
}

.input-container {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0.5rem;
}

.input-container i {
  margin-right: 0.5rem;
  color: #ccc;
}

.input-container input {
  width: 100%;
  border: none;
  outline: none;
  padding: 0.5rem;
}

button {
  width: 100%;
  padding: 0.5rem;
  background-color: #800020;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  text-align: center;
}

button:hover {
  background-color: #9e3650;
}
